@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}

@{
    Html.RenderPartial("umbCategory");
}

<script>
    $(function () {
        //var htmlString = $('#breadcrumb').html();
        //var activePage = $('#breadcrumb .active').text();
        //if (activePage !== '') {
        //    htmlString = '<li class="breadcrumb-item"><a href="/' + activePage + '">' + activePage + '</a></li>';
        //    htmlString = htmlString + '<li class="breadcrumb-item active">Category</li>';
        //}
        //$('#breadcrumb').html(htmlString);
        //$('#breadcrumb').css({ "padding-left": "0px" });
    });
</script>